@model Models.Models.Author

@{
    ViewBag.Title = "AjaxExample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjaxExample</h2>

@Ajax.ActionLink("test", "AjaxExample", "Main", new AjaxOptions() {HttpMethod="GET",UpdateTargetId="ajax",InsertionMode=InsertionMode.Replace })


<div id="ajax">

</div>