
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Models.Models.User

<div class="container">
    <div class="imgBackground">
        @using (Html.BeginForm("Index", "Main"))
        {            
                <div>
                    @Html.EditorFor(model => model.UserName)
                </div>
                <div>
                    @Html.EditorFor(model => model.Password)
                </div>                
                <div class="form-group">
                    <input type="submit" value="Login" />
                </div>
               
        }
        @using (Html.BeginForm("LogOut", "Main"))
        {
            <div class="form-group">
                <input type="submit" value="Logout" />
            </div>
        }
        <div class="jumbotron">
            <h1>Welcome to "Stack Overflow"</h1>        
        </div>
      
    </div>

    
</div>

