@model Models.Models.BlogComment

<div style="margin-left:10px">
        <span> @Html.DisplayFor(model => model.Commentar)</span>

        @*<span>@Html.DisplayFor(model => model.AuthorName)</span>

        <span>@Html.DisplayFor(model => model.Date)</span>

        <span>@Html.DisplayFor(model => model.Raiting)</span>*@
    
</div>
