
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="errorClass">
        <div style="background-color:blue">
            <h2>Error</h2>
            <h2>Something go wrong!!!!</h2>
            <h1 style="background-color:blue">@ViewBag.error</h1>
        </div>    
    </div>
   
</div>



